html{
    height: 100%;
}

body{
    height: 100%;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginPage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
    border: 1px solid black;
    padding: 30px;
}

h1 {
    margin: 0;
}

input {
    /* height: 100px; */
    /* width: 300px; */
    border: 1px solid black;
}

p {
    margin: 0;
}